html{
  height: 100%
}

body{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: lightgrey;
  color: white;
  height: 100%;
}

.signature_on_heading{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  color:white;
}

.darker_bg:hover{
  background-color: #191919;
  border-radius: 50%;
}

p{
  font-size: 16px;
}

.mynav{
  background-color: #323232;
 }

.sm_icons{
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 5%;
  clear: both;
  filter: invert(100%);
}

.sm_iconsf{
  width: 30px;
  height: 30px;
  margin-top: 5%;
  clear: both;
  filter: invert(100%);
}

.sm_icons:hover, .sm_iconsf:hover{
  background-color: white;
  border-radius: 50%;
}

.lg_icons{
  width: 50px;
  height: 50px;
  margin-top: 5%;
  clear: both;
/*   filter: invert(100%); */
}
.lg_icons:hover, .lg_iconsf:hover{
  background-color: lightgrey;
  border-radius: 50%;
}


.about{
  font-size: 40px;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica;
  font-weight: 300;
  background-image: url("background.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;   
}

.aboutcenter{
  margin:auto;
  margin-top: 7%;
  font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica;
  font-weight: 300;
}

.about h1{
  font-size: 80px;
  text-shadow: 2px 2px 2px #000;
}

.projects{
  text-align: center;
  margin: auto;
  color: black;
}

#projects-title{
  text-align: left;
  color: black;
}

.thumbnail{
    box-shadow: 5px 5px darkgrey;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
}

.thumbnail:hover{
  background-color: #85A6CD;
/*   opacity: .9;
  filter: blur(0); */
/*   border-radius: 50%; */
}

.corners h1{
  margin-left: 30px;
  text-align: left;
  text-decoration: underline;
  color: #323232;
}

.corners p, h3, h4{
    color: #323232;
    text-align: center;
}

i{
  margin: 10px;
}

.corners{
  color: darkgrey;
  text-align: center;
  margin-top: 80px;
  height: 150vh;
  font-size: 40px;
  background: #f6f6f6;
  margin: 50px auto;
  max-width: 60%;
  position: relative;
  width: 80%;
  box-shadow: 0 1px 7px hsla(0, 0%, 0%, 0.2);
  padding: 5px;
}

Corner Effect
.corners:after, .corners:before {
  background: lightgrey;
  content: '';
  height: 50px;
  position: absolute;
  top: -25px;
  width: 100px;
  box-shadow: 0 5px 10px -7px hsla(0, 0% ,0%, 0.5);
}
.corners:after {
  left: -50px;
  transform: rotate(-45deg);
}
.corners:before {
  right: -50px;
  transform: rotate(45deg);
}

.contact_box{
/*   height: 100vh; */
  background-color: white;
  margin-bottom: 10px;
  color: #323232;
  box-shadow: 5px 5px darkgrey;
}

.footer{
  background-color: #323232;
  height: 10vh;
  color: white;
  width: 100vw;
  margin: auto;
  margin-top: 2%;
}

.foot{
  float: left;
}




//==========================
//==========================
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
